**/*.bak
**/*.bk
**/*.db*
**/*.egg-info
**/*.iml
**/*.log
**/*.pyc
**/*.swp
**/*dont_commit*
**/*report*.html
**/*report*.json
**/.DS_Store
**/.cache
**/.env
**/.idea
**/*-checkpoint.*
**/.vscode
**/Logs
**/__pycache__
**/archive
**/build
**/dist
**/execution_json
**/faiss_*_docs
**/index
**/libs
**/logs
**/node_modules
**/output.json
**/reports
**/site
**/t
**/target
**/workspaces
.idea/
venv/
